
@charset "UTF-8";

.darkk.active {
    background-color: black;
    color: white;

}

.grayy.active{
    background-color: gray;
    color: white;
}

.hardgray.active {
    background-color: rgb(48, 46, 46);
}

.white.active {
    color: white;
}

.darkmode > p {
    text-align: end;
    font-size: 0.6em;
}

.btn {
    width: 50px;
    height: 30px;
    border: 3px solid white;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}

.btn:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%); 
} 

@media (max-width:992px ) { 
    main {
        flex-direction: column;
        gap: 20px;
    }

    .seed{
        width: 300px;
    }

    .navbar {
        display: none;
    }

    #burguer{
        display: block;
        position: fixed;
        background-color: #2d2a2a;
        top: 13px;
        right: 10px;
        font-size: 35px;
        color: white;
        cursor: pointer;
    }
    
    #menu-dropdown{
        display: none;
        position: fixed;
        top: 65px;
        right: 10px;
        background-color: #000000;
        padding: 15px;
        border-radius: 15px;
        box-shadow: 10px 8px 12px 1px rgba(0, 0, 0, 0.392);
        line-height: 1.7em;
        z-index: 1;
    }
    
    #menu-dropdown li > a{
        color: #ffffff;
        padding: 5px;
        border-radius: 15px;
    }
    
    #menu-dropdown li:hover{
        background-color: #c8c4c4;
    }
    
    #menu-dropdown ul{
        list-style: none;
    }
    
    .menu-open #menu-dropdown{
        display: block;
    }
    
    .menu-hamburguer-scroll {
        background-color: #000000;
        padding: 5px;
        border-radius: 15px;
      }

    #kantimage{
        width: 50%;
    }

    a {
        text-decoration: none;
    }
 }
