

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #929191;
    color: #767676;
}

header {
    display: grid;
    grid-template-areas: 
    "log title ."
    "buton nav .";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100px 1fr 100px;
    background-color: #0e0116;
    color: #c4c3c3;
    padding: 20px 0;
    text-align: center;
}

header > #logo{
    grid-area: log;
}

header > .divTitle {
    grid-area: title;
}

header > .divBtn {
    grid-area: buton;
    margin: 10px;
}

header > .navbar{
    grid-area: nav;
}

#title {
    font-size: 2.5em;
    margin-bottom: 10px;
}

#menu-dropdown{
    display: none;
}

#burguer {
    display: none;
}

.navbar {
    margin-top: 15px;
}

.navlist {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navlist li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    transition: color 0.3s;
}

.navlist li a:hover {
    color: #ff6347;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.media {
    text-align: center;
    margin: 20px 0;
}

.seed {
    background-color: #1b0446;
    height: 330px;
    padding: 20px;
    margin: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(148, 147, 147, 0.1);
}

.saiba {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.saiba a {
    text-decoration: none;
    color: #fff;
}

.saiba:hover {
    background-color: #751605;
}

.seedh2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #c4c3c3;
}

.seedprov {
    font-size: 1.1em;
    margin-bottom: 20px;
    color: #c4c3c3;
}

.dark-mode {
    background-color: black;
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.fttp {
    margin: 0;
}

img{
    width: 70%;
    border: 7px solid black;
    border-radius: 20px;
}
